.header{
  background-color: var(--bg-card);
  padding: 25px 45px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 60px;
  z-index: 2;

  @media (max-width: 767px) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

.select{
  margin-right: auto;
}